body {
  color: red;
}

.recipesearch {
  display: flex;
  text-align: center;
  justify-content: center;

  height: 40px;
}

.jumbotron {
  background-image: url("../images/burger.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 650px;
}

input {
  width: 500px;
  height: 50px;
  border-radius: 15px;
  background-color: transparent;
  outline: none;
  color: white;
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  font-size: 2rem;
}

.searchname {
  padding-top: 165px;
  text-align: center;
  color: white;
  font-family: "Indie Flower", cursive;
  font-size: 7rem;
}

.recipebutton {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border-radius: 15px;
}
