body {
    margin: 0;
  }
  
  .recipesearch {
    display: flex;
    text-align: center;
    justify-content: center;
  
    height: 40px;
  }
  
  .jumbotron { margin: 0;
    background-image: url("../images/burger.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 650px;
  }
  
  input{
    width: 500px;
    height: 50px;
    border-radius: 15px;
    background-color:rgba(202, 142, 142, 0.795) ;
    outline: none;
    color: rgb(46, 46, 46);
    font-family: "Indie Flower", cursive;
    font-weight: 900;
    font-size: 2rem;
  }
  
  .searchname {
    padding-top: 165px;
    text-align: center;
    color: white;
    font-family: "Indie Flower", cursive;
    font-size: 7rem;
  }
  
  .recipebutton {
    display: inline-block;
    height:50px;
    padding: 0.5em 3em;
    border: 0.16em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    background-color:rgba(255, 187, 0, 0.6);
    color:rgba(255, 255, 255, 1);
   
    border-radius: 15px;
  }
  #heading {
    background-color: #A683E3;
    font-family: "Indie Flower", cursive;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }
  
  /* input[type="checkbox"] {
    background-color: violet;
    margin: 20px;
  } */
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  .groceryList input{
    width:450px;
    height:2.5rem;
    background-color: rgb(254, 255, 244);
  }